	
<ion-tabs>
 
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="characters">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="death-count">
      <ion-icon name="skull-outline"></ion-icon>
      <ion-label>Death-count</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="episodes">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quotes">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>
